body {
    background-color: rgb(127, 255, 212);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 24px;
    background-color: aliceblue;
    color: rgb(231, 124, 10);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 10px;
}

.intro {
    background-color: aliceblue;
    color: rgb(231, 124, 10);
    text-align: left ;
    border-top: 1px solid rgb(231, 124, 10);
    border-bottom: 1px solid rgb(231, 124, 10);
    border-right: 1px solid rgb(231, 124, 10);
    border-left: 1px solid rgb(231, 124, 10);   
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 20px;
}

#title {
    background-color: aliceblue;
    color: rgb(231, 124, 10);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 10px;
}

img {
    height: 180;
    width: 180;
    object-fit: cover;
}

.item {
    background-color: aliceblue;
    color: rgb(231, 124, 10);
    display: inline-table;
    margin: 10px;
    text-align: left;
    padding: 20px;
    line-height: 30px;
}

.item2 {
    display: inline-block;
    margin: 10px;
    background-color: aliceblue;
    color: rgb(231, 124, 10);
    text-align: left;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 10px;
}

.item3 {
    display: inline-block;
    margin: 10px;
    background-color: aliceblue;
    color: rgb(231, 124, 10);
    text-align: align;
    text-decoration: none; 
}
a { 
    text-decoration: none;
    color: rgb(231, 124, 10);
    transition: color 0.3s ease;
}

a:hover {
    color: brown;
}

#bottom {
    font-size: 30px;
}

h3 {
    background-color: aliceblue;
    color: rgb(231, 124, 10);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding: 10px;
}

.baeckeoffe,
.kouglof {
    border-top: 1px solid rgb(231, 124, 10);
    border-bottom: 1px solid rgb(231, 124, 10);
    border-right: 1px solid rgb(231, 124, 10);
    border-left: 1px solid rgb(231, 124, 10);
    background-color: aliceblue;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter; 
    font-size: 20px;
}