body {
    background-color: rgb(127, 255, 212);
}

#title { 
    text-align: center;
    color: rgb(231, 124, 10);
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
 }

.recipes {
    text-align: center;
}

.item {
    display: inline-block;
    margin: 10px;
    width: 400px;
}

.kouglof,
.baeckeoffe,
.spatzles {
    background-color: aliceblue;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter; 
    font-size: 30px;

}

.container {
    background-color: aliceblue;
    padding : 24px;
    border : 3px rgb(231, 124, 10) solid;
}

a {
    text-decoration: none;
    color: rgb(231, 124, 10);
    background-color: aliceblue;
    transition: color 0.3s ease;
    display: block;
}

a:hover {
    color: rgb(100, 11, 11);
}

img {
    height: 410px;
    width: 410px;
    object-fit: cover;
}



